################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PIS-LB-03-Team-7/FileContentIndex
/MigrationRoadmap/.vs/MigrationRoadmap/FileContentIndex
/passport.jpg
